{% load thumbnail %}
<article>
    <ul>
        {% if not no_author %}
            <li>
                Автор: {{ post.author.get_full_name  }}
                <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
            </li>
        {% endif %}
        <li>Дата публикации: {{ post.pub_date|date:"d E Y" }}</li>
    </ul>
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
{% endthumbnail %}
<p>{{ post.text }}</p>
<a href="{% url 'posts:post_detail' post.pk %}">Подробная информация</a>
{% if post.group and not is_group_page  %}
    <br>
    <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы "{{ post.group.title }}"</a>
{% endif %}
</article>
{% if not forloop.last %}<hr>{% endif %}
