{% extends "base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
    {% load user_filters %}
    {% if validlink %}
        {% with form_name='Восстановление пароля' %}
            {% with button_name='Сохранить пароль' %}
                {% with is_button=True %}
                    {% include "includes/form.html" %}
                {% endwith %}
            {% endwith %}
        {% endwith %}
    {% else %}
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <div class="card">
                    <div class="card-header">Ошибка</div>
                    <div class="card-body">
                        <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
                    </div>
                    <!-- card body -->
                </div>
                <!-- card -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    {% endif %}
{% endblock %}
